<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="users-list">
		<div class="users-header">
			<h3>Users List</h3>
		</div>
	<table style="width:100%;">
		<tr style="border-bottom: 1px solid #e3e3e3;">
			<th>Name</th>
			<th>Email</th>
			<th>Settings</th>
		<tr>
		<% @users.each do |s| %>
			<tr>
				<td><%= s.firstname %> <%= s.lastname %></td>
				<td><%= s.email %></td>
				<td><%= link_to 'Delete', :confirm => "Are you sure you want to delete", method: :delete %></td>
			</tr>
		<% end %>
	</table>
</div>
</div>