<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="cont-list">
	<h3>The Ranters</h3>
	<p>Anthony Indraus - <a href="https://github.com/aindraus">Github</a></p>
	<p>James McLaren - <a href="https://github.com/spacepotato">Github</a></p>
</div>