<!-- NAv BAR -->
<div class="category-bar">
  <div class="categories-content">

  </div>
</div>
<div class="body-wrapper">
  <div class="login-title">
<h2>Sign Up</h2>
</div>
<div class="login-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, :class => 'form-labels'  %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-input' %>
  </div>
  <div class="field">
    <%= f.label :username, :class => 'form-labels' %><br />
    <%= f.text_field :username, :class => 'form-input' %>
  </div>
  <div class="field">
    <%= f.label :password, :class => 'form-labels'  %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-input' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'form-labels'  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-input' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'button-login' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>