<div class="create-comment">
<%= form_for (@comment) do |f| %>
<h3><%= f.label 'Rant On' %></h3>
	<%= f.text_area :body, :class => "textarea-comment" %>
	<%= f.hidden_field :rant_id, :value => @rants.id %>
	<div class="submit-comment"><%= f.submit "Submit", :class => 'submit-but' %></div>
<% end %>
</div>