<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->

<% if current_user %>
<div class="body-wrapper">
	<div class="edit-header">
	<h3>Edit Profile</h3>
</div>
<%= form_for @user do |f| %>
	<p><%= f.label 'Profile Picture:' %></p>
	<%= f.file_field :avatar %>
	<hr>
	<p><%= f.label 'Status' %></p>
	<%= f.text_field :status %>
	<hr>
	<div class="row">
		<div class="col-md-4"
	<p><%= f.label 'First Name' %></p>
    <%= f.text_field  :firstname %>
</div>
<div class="col-md-4">
    <p><%= f.label 'Last Name' %></p>
    <%= f.text_field :lastname %><br>
</div>
</div>
    <hr>
    <div class="row">
    <div class="col-md-4">
    <p><%= f.label 'Username' %></p>
	<%= f.text_field :username %>
</div>
<div class="col-md-4">
	<p><%= f.label 'Bio' %></p>
	<%= f.text_area :userbio %><br>
</div>
</div>
	<hr>
	<p><%= f.label 'Company' %></p>
	<%= f.text_field :company_name %><br>
	<hr>
	<div class="row">
		<div class="col-md-4">
	<p><%= f.label 'Website' %></p>
	<%= f.text_field :userwebsite %>
</div>
<div class="col-md-4">
	<p><%= f.label 'Facebook' %></p>
	<%= f.text_field :userfacebook %>
</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
	<p><%= f.label 'Twitter' %></p>
	<%= f.text_field :usertwitter %>
</div>
<div class="col-md-4">
	<p><%= f.label 'Linkedin' %></p>
	<%= f.text_field :userlinkedin %>
</div>
</div>
	<hr>
    <p><%= f.submit "Update" %></p>
 <%end%>
</div>
<% end %>
