<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="row">
		<div class="profile-top">
			<% if @user.avatar? %>
			<%= image_tag @user.avatar.url, :class => 'profile-image' %>
			<% else %>
			<%= image_tag ('profile.jpg'), :class => 'profile-image' %>
			<% end %>
			<h2><%= @user.username %></h2>
			<% if @user.status === nil %>
			<p>Hello, I am new here</p>
			<% else %>
			<p><%= @user.status %></p>
			<% end %>
		</div>
	</div>
	<hr>
	<div class="row profile-headers">

	<div class="col-md-6">
		<h3>Name: </h3>
		<p><%= @user.firstname %> <%= @user.lastname %></p>
	</div>
	<div class="col-md-6">
		<h3>Company: </h3>
		<p><%= @user.company_name %></p>
	</div>
		<div class="col-md-6">
		<h3>Bio: </h3>
		<p><%= @user.userbio %></p>
	</div>
			<div class="col-md-6">
		<h3>Email: </h3>
		<p><%= @user.email %></p>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="profile-headers center">
		<h3>Contact</h3>
		</div>
		<a class="website-button" target="_blank"  href="<%= @user.userwebsite %>">Visit Website</a>
		<a target="_blank" href="<%= @user.userfacebook %>"><%= image_tag('facebook.png') %></a> 
		<a target="_blank" href="<%= @user.usertwitter %>"><%= image_tag('twitter.png') %></a> 
		<a target="_blank" href="<%= @user.userlinkedin %>"><%= image_tag('linkedin.png') %></a> 
	</div>
	<% if current_user === @user %>
	<hr>
	<div class="button-edit">
		<%= link_to 'Edit Profile', edit_user_path(@user.id) %>
	</div>
	<% end  %>
</div>