<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="top-section">
	<div class="row">
		<div class="col-md-8">
			<div class="type-section">
				<div class="type-header">
					<p>Most Recent Rants</p>
				</div>
				<div class="rant-list">
				<% if @rants.count === 0 %>
					<div class="rant-notification">
						<h3>There are no rants</h3>
					</div>
				<% else %>
					<% @rants.each do |f| %>
					<div class="rant-box">
						<h3><%= f.title %></h3> 

						<p class="turncate"><%= f.body %></p>
						<p><%= link_to 'Read More..', rant_path(f.id) %></p>
					 <a class="fa fa-comment-o"> <%= f.comments.count %></a> - <%= link_to 'I Feel Ya',like_rant_path(f), method: :put %> <%= f.get_upvotes.size %> - <%= link_to "Naaah", dislike_rant_path(f), method: :put %> <%= f.get_downvotes.size %>
					</div>
					<% end %>
				<% end %>
				</div>
		</div>
	</div>
	<div class="col-md-4 margin-left">
		<div class="type-section">
				<div class="type-header">
					<p>The Stats</p>
				</div>
				<div class="rant-list">
					<div class="stats-box">
						<h3>Rants: <%= @rants.count %></h3>
					</div>
					<div class="stats-box">
						<h3>Comments: <%= @comments.count %></h3>
					</div>
					<div class="stats-box">
						<h3> Users: <%= User.count %></h3>
					</div>
				</div>
			</div>
	</div>
	</div>
	<br>
	<!-- Top Rants -->
	<div class="row">
		<div class="col-md-12">
			<div class="type-section">
				<div class="type-header">
					<p>Top Rants</p>
				</div>
				<div class="rant-list">
				<% if @rantp.count === 0 %>
					<div class="rant-notification">
						<h3>There are no rants</h3>
					</div>
				<% else %>
					<% @rantp.each do |f| %>
						<div class="rant-box">
							<h3><%= f.title %></h3>
							<p class="turncate"><%= f.body %></p>
							<p><%= link_to 'Read More..', rant_path(f.id) %></p>
							<a class="fa fa-comment-o"> <%= f.comments.count %></a> - <%= link_to 'I Feel Ya',like_rant_path(f), method: :put %> <%= f.get_upvotes.size %> - <%= link_to "Naaah", dislike_rant_path(f), method: :put %> <%= f.get_downvotes.size %>
						</div>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	</div>

</div>
</div>

