<!-- NAv BAR -->

<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<% if user_signed_in? %>
<div class="body-wrapper">
	<div class="rant-form">
		<div class="form-header">
			<h3>Vent a Rant</h3>
			</div>
<%= form_for @rant do |f|  %>
	<p><%= f.label 'Rant Picture' %></p>
	<%= f.file_field :rantpic %>
	<%= f.label 'Title: ', :class => 'form-title' %>
    <%= f.text_field  :title, :class => 'title-input' %>
    <%= f.label 'Rant Category: ', :class => 'form-title' %>
    <div class="rant-select">
	<%= f.select(:category_id, @category_options) %>
	</div>
	<hr>
    <%= f.label 'Rant:', :class => 'form-title' %>
    <%= f.text_area :body, :class => 'rant-input' %>
	<div class="submit-comment">
    <%= f.submit "Submit Rant", :class => 'submit-button' %>
</div>
 <%end%>

</div>
</div>
<% end %>