<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="rant-header">
<h3><%= @rants.title %> - <%= link_to 'I Feel Ya',like_rant_path(@rants), method: :put %> <%= @rants.get_upvotes.size %> - <%= link_to "Naaah", dislike_rant_path(@rants), method: :put %> <%= @rants.get_downvotes.size %></h3>
</div>

<div class="rant-body">
<%= @rants.body %>
</div>
<div class="rant-picture">
<p>attachments:</p>
	<a href="<%= image_path @rants.rantpic %>"><%= image_tag @rants.rantpic, :class => 'rant-pic' %></a>
	</div>
<hr>
<div class="rant-author">
<p>Author: <a href="<%= user_path(@user)%>"><%= @user.username %></a> - Created: <%= time_ago_in_words(@rants.created_at)%></p>
</div>
<hr>
<div class="comments-section">
<h2>Comments</h2>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>
<hr>
<% @comments.each do |f| %>
<div class="comment-box">
<p class="comment-header"><% if f.user.avatar? %><%= image_tag f.user.avatar.url, :class => 'comment-pic' %><% else %><%= image_tag ('profile.jpg'), :class => 'comment-pic' %><%end %>  <%= f.user.username %> - <span style="color: #e3e3e3; font-style: italic;"><%= f.user.status %></span></p>
<p class="timestamp"><%= time_ago_in_words(f.created_at) %></p>
<%= f.body %>

</div>
<% end %>

</div>


</div>