<!-- NAv BAR -->
<div class="category-bar">
  <div class="categories-content">

  </div>
</div>
<!-- Content -->
<div class="body-wrapper">
  <div class="login-title">
<h2>Log in</h2>
</div>
<div class="login-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, :class => 'form-labels' %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-input' %>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'form-labels' %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-input' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember-sec">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, :class => 'remember-me' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => 'button-login' %>
  </div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'forgot-password' %>
</div>
</div>