html {
	height:100%;
}
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;

}

.wrapper {
	width: 70%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}
.navbar {
	background:#fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0;
	width: 100%;
	margin-bottom: 0;
}
.logo-section {

}
.logo-image {
	width: 150px;
	height: auto;
	max-width: 100%;
}
.top-nav {
	background: #1B1F22;
	height:30px;
}
.logins-section {
	width:70%;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
}
.logins-section p {
	display: inline-block;
	width: 100px;
	line-height: 30px;
	height: 30px;
	margin: 0px;
	text-align: center;
	background: #121518;
}
.logins-buttons {
	color: #e3e3e3;
	transition: color 0.5s ease;
}
.logins-buttons:hover {
	text-decoration: none;
	color:#fff;
}
.category-bar {
	border-top: 2px solid #FF4700;
	background-color:#1B1F22;
	width: 100%;
	text-align: left;
	color: #fff;
	height: 40px;
	box-shadow: 0px 1px 2px #4C4C4C;
}
.categories-content{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.category-bar p {
	font-family: 'Tinos', serif;
	text-decoration: none;
	display: inline-block;
	height: 30px;
	line-height: 40px;
	text-transform: uppercase;
}
.category-bar p#menu {
	display:none;
}
.category-links {
	width:150px;
	height: 40px;
	padding-right: 20px;
	color:#e3e3e3;
	transition: all 0.5s ease;
}
.category-links:hover {
	color:#fff;
	text-decoration: none;
}
@media  only screen and (max-width: 600px) {
	.logo-image img{
		width:100;
		height:auto;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.logins-section {
		width:100%;
	}
	.categories-content {
		width: 100%;
	}

	.category-bar p {
		display: none;
	}
	.category-bar p#menu {
		display:block;
		margin-left: 10px;
		position:relative;
		text-align: center;
	}
	.nav-icon {
		width:30px;
		height:30px;
		margin-right:auto;
		margin-left: auto;
		text-align: center;
		line-height: 30px;
	}
	.main-titles {
		text-align: center;
	}
	.main-titles h3 {
		margin-right: auto;
		margin-left: auto;
	}
	.wrapper {
		width:100%;
	}
	.body-wrapper {
		width:100%;
	}
}
.main-titles h3 {
	text-transform: uppercase;
	font-family: 'Tinos', serif;
	font-weight: 300;
	border-bottom:1px solid #FF4700;
	border-length: 50px;
	width: 200px;

}
.body-wrapper {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	height: 100% !important;
}
.login-title {
	margin-top: 20px;
	text-align: center;
	font-family: "Tinos", serif;
	text-transform: uppercase;
}
.login-title h2 {
	font-size: 30px;
	color:#1B1F22;
}
.login-form {
	text-align: center;
	margin-top: 20px;
	padding:20px;
	width:350px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #1B1F22;
	border-radius: 30px;
	box-shadow: 0px 1px 2px #4c4c4c;
}
.form-labels {
	font-family: "Tinos", serif;
	font-size: 20px;
	margin-top: 10px;
}
.form-input {
	width:90%;
	border: 1px solid #1B1F22;
	border-radius: 5px;
	height:30px;
	padding-left: 5px;
}
.remember-sec {
	margin-top: 10px;
	width: 90%;
	margin-right: auto;
	margin-right: auto;
	text-align: right;
}
.button-login {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height:40px;
	border: none;
	background-color: #1B1F22;
	color:#fff;
	text-transform: uppercase;
}
.forgot-password {
	color: #1B1F22;
	padding-top: 10px;
	transition: all 0.5s ease;
}
.forgot-password:hover {
	color: #000;
	text-decoration: none;
}
.verbum-section {
	background-color: #e3e3e3;
	width:100%;
	height: 300px;
	padding:20px;
	font-family: "Tinos", serif;
	box-shadow: 0 1px 2px #B2B2B2;
	border: 1px solid #B2B2B2;

}
.verbum-section h2 {
	text-align: center;
	line-height: 200px;
}
.column-8 {
	width:70%;
}
.top-section {
	margin-top: 20px;
}
.type-section {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 2px #e3e3e3;
}
.type-header {
	background: #1B1F22;
	height:40px;
	border-top: 2px solid #FF4700;
	line-height: 40px;
	color: #fff;
	padding-left: 20px;

}
.type-header p {
	text-transform: uppercase;
	font-family: 'Tinos', serif;
	font-size: 18px;
}
.rant-list {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;

}
.column-4 {
	width: 25%;
	position:relative;
}
.margin-left {
	padding-left: 15px;
}
.margin-right {
	padding-right: 15px;
}
.stats-box {
	background:#f1f2f7;
	height: 50px;
	box-shadow: 0 1px 2px #e3e3e3;
}
.stats-box h3 {
		line-height: 50px;
		padding-left: 10px;
}
.rant-box {
	background-color: #f1f2f7;
	padding:10px;
	margin-top: 10px;
}
.rant-box h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
	font-family: 'Tinos', serif;
	color: #FF4700;
}
.rant-box a {
	text-align: right;
	color: #000;
}
.rant-box a:hover{
	text-decoration: none;
}
.site-footer {
		position: relative;
	bottom: 0px;
	width:100%;
	height:40px;
	margin-top: 20px;
	line-height: 40px;
	text-align: center;
	background-color: #1B1F22;
	color:#fff;
	font-family: 'Tinos', serif;

}
.site-footer p {
	margin-bottom: 0;
}
.cat-rant-box {
	background-color: #fff;
	padding:10px;
	margin-top: 10px;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 2px #e3e3e3;
}
.cat-rant-box h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
	font-family: 'Tinos', serif;
	color: #FF4700;
}
.rant-button-sec {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;

}
.rant-button {
	background-color: #FF4700;
	width:150px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	margin-bottom: 10px;
	color: #fff;
}
.rant-button:hover {
	color:#fff;
	
}
.profile-top {
	text-align: center;
	margin-top: 20px;
}
.profile-image {
	text-align: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	box-shadow: 0 1px 3px #c4c4c4;
}
.profile-top h2 {
	font-size: 25px;
	font-family: 'Tinos', serif;
	text-transform: uppercase;
}
.profile-headers h3 {
	font-family: 'Tinos', serif;
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FF4700;
	width: 90px;
}
.button-edit {
	text-align: right;
}
.website-button {
	background-color: #FF4700;
	width: 100px;
	padding:10px;
	color: #fff;
}
.website-button:hover {
	color: #fff;
}
.profile-headers.center {
	text-align: center;
}
.edit-header {
	font-family: 'Tinos', serif;
	width: 150px;
	border-bottom: 1px solid #FF4700;
	margin-bottom: 20px;
}
.rant-header {
	font-family: 'Tinos', serif;
	border-bottom: 1px solid #FF4700;
	margin-bottom: 20px;
}
.comments-section h2 {
	font-family: 'Tinos', serif;
	padding-bottom: 10px;
	border-bottom: 1px solid #FF4700;
}
.comment-box {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 15px;
	box-shadow: 0 1px 2px #e3e3e3;
}
.comment-pic {
	width:40px;
	height:40px;
	border-radius: 10px;
}
.comment-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}
.timestamp {
	color: #666666;
}
.create-comment {
	background-color: #fff;
	padding:10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px #e3e3e3;
}
.create-comment h3 {
	font-family: 'Tinos', serif;
}
.textarea-comment {
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}
.submit-comment {
	text-align: right;
	margin-top: 10px;
}
.submit-but {
	background-color: #1B1F22;
	padding:2px;
	width: 80px;
	border: none;
	color: #fff;
}
.rant-form {
	margin-top: 20px;
	background-color: #fff;
	padding:20px;
	box-shadow: 0 1px 2px #e3e3e3;
	border: 1px solid #e3e3e3;
}
.form-header h3{
	margin-top: 0;
	font-family: 'Tinos', serif;
	font-weight: bold;
	border-bottom: 1px solid #FF4700;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.form-title {
	font-size: 18px;
}
.title-input {
	margin-bottom: 10px;
	width:100%;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
.rant-input {
	width:100%;
	margin-bottom: 10px;
	height: 300px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}
.rant-select select{
	width: 100%;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	height: 30px;
	border-radius: 4px;
}
.submit-button {
	background-color: #1B1F22;
	width: 150px;
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
}
.rant-notification {
	vertical-align: middle;
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 2px #e3e3e3;
	padding: 10px;
	height: 250px;
	text-align: center;
}
.rant-notification h3 {
	font-family: 'Tinos', serif;
	text-transform: uppercase;
	line-height: 200px;
}
.turncate {
	display:block;
	width: 100%;
	overflow: hidden;
	height:80px;
	font-size: 15px;
	line-height: 1.4;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
}
.users-list {
	background-color: #fff;
	border:1px solid #e3e3e3;
	box-shadow: 0 1px 2px #e3e3e3;
	padding: 10px;
	margin-top: 10px;
}
.rant-picture {
	margin-top: 30px;
	border-top: 1px solid #e3e3e3;
	text-align: left;
	overflow: hidden;
	box-shadow: 0 1px 2px solid #e3e3e3;
	margin-bottom: 20px;
}
.rant-picture img{
	width: 150px;
}
.rant-pic {

	box-shadow: 0 1px 2px solid #e3e3e3;
}
.cont-list {
	text-align: center;
	font-family: 'Tinos', serif;
}
.cont-list h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #FF4700;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.profile-top p {
	color: #e3e3e3;
	font-style: italic;
}