<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="rant-form">
		<div class="form-header">
			<h3>New Category</h3>
		</div>
<%= form_for @category do |f|  %>
	<%= f.label 'Category Title', :class => 'form-title' %>
    <%= f.text_field  :title, :class => 'title-input' %>
    <%= f.label :description, :class => 'form-title' %>
    <%= f.text_area :description, :class => 'rant-input' %>
    <div class="submit-comment">
    <%= f.submit "Add Category", :class => 'submit-button' %>
</div>
 <%end%>
</div>
</div>
