<!-- NAv BAR -->
<div class="category-bar">
	<div class="categories-content">
	<% @categories.each do |f| %>
		<p><%= link_to f.title, category_path(f), :class => 'category-links' %></p>
	<% end %>
	<p id="menu"><%= image_tag("nav-icon.png", :class => 'nav-icon') %></p>
	</div>
</div>
<!-- Content -->
<div class="body-wrapper">
	<div class="rant-list">
		<% if @category.rants.count < 1 %>
		<div class="rant-notification">
		<h3>Guess nothing to rant about</h3>
	</div>
		<% else %>
<% @category.rants.each do |f| %>
<div class="cat-rant-box">
	<h3><%= f.title %></h3>
	<p class="turncate"><%= f.body %></p>
	<%= link_to "Read More..", rant_path(f.id) %>
	<hr>
	<p>Author: <%= f.user.username %>
</div>
<% end %>
<% end %>
</div>
</div>