<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
	  <title>Publicrant</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application' %>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Tinos:400,700' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60475368-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="//load.sumome.com/" data-sumo-site-id="49c84683a2fca5c10494b3ef9c6f9a8792f4b6df07e1c8a2111cd19a04330957" async="async"></script>
		<div id="wrapper">
		<!-- Top Navbar -->
		<div class="top-nav">
					<div class="logins-section">
						<% if user_signed_in? %>
							<% if current_user.admin == true %>
								<p><%= link_to 'Dashboard', dashboard_path, :class => 'logins-buttons' %></p>
								<% end %>
						<p><%= link_to 'Post Rant', new_rant_path, :class => 'logins-buttons' %></p>
							<p><%= link_to 'Sign Out', destroy_user_session_path, :class => 'logins-buttons', :method => :delete %></p>
							<p><%= link_to 'My Profile', user_path(current_user.id), :class => 'logins-buttons' %></p>
						<% else %>
							<p><%= link_to 'Login', user_session_path, :class => 'logins-buttons' %></p>
							<p><%= link_to 'Sign Up', new_user_registration_path, :class => 'logins-buttons' %></p>
						<% end %>
					</div>
		</div>
		<div class="navbar">
			<div class="wrapper">
			<div class="row">
				<div class="col-md-4">
					<div class="logo-section">
						<%= link_to image_tag("logo.png", :class => 'logo-image'), root_path %>
					</div>
				</div>
				<div class="col-md-8">
	
				</div>
			</div>
		</div>
	</div>
		<!-- Category Bar -->
	<%= yield %>
<!-- Footer Goes Here -->
<footer class="site-footer">
	<div class="container">
	<p>2014 - Public Rant - Quint Industries - <%= link_to 'The Ranters', theranters_path %></p>
</div>
</footer>
</div>
	</body>
</html>
